body {
    font-family: roboto;
    display: grid;
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                         "nav nav nav"
                        "main main aside"
                        "footer footer footer";
}

