/*consistent layout*/
body {
    font-family: roboto;
    display: grid;
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                         "nav nav nav"
                        "main main aside"
                        "footer footer footer";
}

header {
    background-color: rgb(61, 61, 61);
    color: white;
    padding: 20px;
    grid-area: header;
}

.menu {
    background-color: white;
    grid-area: nav;
}


.menu ul {
    color:black;
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
   }
.menu a:visited {
    color:black;
}

.menu a:hover {
    color:hotpink;
}

aside { 
    display:block;
    background-color: pink;
    grid-area: aside;
}

aside ul {
    list-style-type:none;
}

.animation {
    padding-left:33px;
	animation: move 2s infinite ease-in;
}
@keyframes move {
	0% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(0, 5vh);
	}

	100% {
		transform: translate(0, 0);
	}

}


/*portfolio css*/

.portfolio {
    padding:20px;
    grid-gap: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

}

.image {
    width:300px;
    height:300px;

}