body {
    font-family: roboto;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                         "aside aside aside"
                         "main main main"
                         "footer footer footer";
}


#clicked:target nav {display:block;}


.shownav {
    content: '';
    position: fixed;
    display: block;
    top:15px;
    left: 94%;
    height: 0.145em;
    width: 1.25em;
    border-top: 0.400em double palevioletred;
    border-bottom: 0.145em solid palevioletred;
    background-color:rgb(61, 61, 61);
    border-radius: 0.1em;
    z-index: 10;
}


nav:target {
    position: fixed;
    display: none;
    background-color: rgb(61, 61, 61);
    top:8px;
    left: 50%;
    width: 50%;
    z-index: 1;

}


nav {
    position: fixed;
    display: none;
    background-color: rgb(61, 61, 61);
    top:8px;
    left: 50%;
    width: 50%;
    z-index: 1;

}


header {
    background-color: rgb(61, 61, 61);
    color: white;
    padding: 20px;
    grid-area: header;
}


main {
    background-image: url("cherryblossam.png");
    background-repeat: no-repeat;
    grid-area: main;
}

aside {

    background-color: pink;
    grid-area: aside;
}

footer {
    background-color:  rgb(61, 61, 61);
    grid-area: footer;
}

